@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none !important;
    outline: none;
    border: none;
    text-transform: capitalize;
}
:root{
    --main--color: #e206ca;
    --white--:#fff;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar{
    width: 1.5rem;
}
::-webkit-scrollbar-track{
    background:#09001d;
}
::-webkit-scrollbar-thumb{
    background: var(--main--color);
    border: .5rem solid transparent;
    border-radius: 1rem;
    background-clip: content-box;
}
.row{
    padding: 0 3rem;
}
.header{
    /* background: rgba(0,0,0,.8); */
    height: 70px;
    display: grid;
    /* justify-content: center; */
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}
.header nav .logo h1{
    font-size: 2rem;
    font-weight: 600;
    color: var(--white--);
    cursor: pointer;
    margin: 0;
}
.header nav .navbar ul{
    display: flex;
    gap: 2rem;
    margin: 0;
    /* padding: 0; */
}
.header nav .navbar ul li a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--white--);
    cursor: pointer;
    transition: all 0.3s ease;
}
.header nav .navbar ul li a:hover{
    color: var(--main--color);
}

/* -------------hero wrapper --------------- */
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}
.hero .container-fluid .row{
    padding: 0 3rem;
}
.hero .container-fluid .row .col-md-6{
    padding: 0;
    text-align: center;

}
.hero .container-fluid .row .col-md-6 .card{
    background: rgba(0,0,0,.4);
    padding: 2rem 1rem;
}
.hero .container-fluid .row .col-md-6 .card h1{
    font-size: 2rem;
    font-weight: 600;
    color: var(--white--);
}
.hero .container-fluid .row .col-md-6 .card p{
    font-size: .9rem;
    font-weight: 500;
    color: var(--white--);
    margin: .8rem 0;
}
.hero .container-fluid .row .col-md-6 .card .button a{
    font-size: 1rem;
    font-weight: 600;
    color: var(--white--);
    cursor: pointer;
    padding: .6rem 2rem;
    background: #e206ca;
}
.hero .container-fluid .row .col-md-6 .card .button{
    margin-top: 1rem;
}
/* -------------------start_end------------------ */
.start_end .quiz_frist_step{
    width: 30%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white--);
    border: rgba(0,0,0,.4);
    padding: 1rem 1.5rem;
    display: none;
    transition: 0.3s ease;
}
.start_end .quiz_frist_step.active{
    display: block;
}
.hero.active{
    filter: blur(5px);
    background: rgba(0,0,0,.9);
}
.start_end .quiz_frist_step .content {
    border-bottom: .1rem solid rgba(0,0,0,.4);
}
.start_end .quiz_frist_step .content h1{
    font-size: 2rem;
    color: var(--main--color);
    font-weight: 600;

}
.start_end .quiz_frist_step .content p{
    font-size: .9rem;
    font-weight: 500;
    color: #000;

}
.start_end .quiz_frist_step .button_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.start_end .quiz_frist_step .button_flex .button{
    font-size: 1rem;
    font-weight: 600;
    color: var(--main--color);
    border: 3px solid var(--main--color);
    background: transparent;
    padding: .2rem 1rem;
    border-radius: .5rem;
    transition: all 0.3s ease;
}
.start_end .quiz_frist_step .button_flex .button.start{
    background: var(--main--color);
    color: var(--white--);
}
.start_end .quiz_frist_step .button_flex .button.start:hover{
    background: var(--white--);
    color:var(--main--color);
}
.start_end .quiz_frist_step .button_flex .button.exite:hover{
    background: var(--main--color); 
    color: var(--white--);
}
/* ----------------quiz section------------ */
#quiz{
    background:#09001d;
    padding: 5rem;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    overflow: auto;
    pointer-events: none;
    transform: scale(.9);
    opacity: 0;
}
#quiz.active{
    left: 0;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    opacity: 1;
    transition-delay: 1s;
}
#quiz .container-fluid .row .col-md-6 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   /* padding: 5rem 2rem ; */
}
#quiz .container-fluid .row .col-md-6 .content{
    border: 2px solid var(--main--color);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
}
#quiz .container-fluid .row .col-md-6.active{
    opacity: 0;
    pointer-events: none;
}
#quiz .container-fluid .row .col-md-6 .content .question_heading{
    background: linear-gradient(45deg, transparent, #e206ca, transparent);
    font-size: 2rem;
    font-weight: 600;
    color: var(--white--);
    text-align: center;
}
#quiz .container-fluid .row .col-md-6 .content .quiz_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0;
    border-bottom: .1rem solid var(--main--color);
    padding: .8rem 0;
}
#quiz .container-fluid .row .col-md-6 .content .quiz_flex .text{
    font-size: 1rem;
    font-weight: 500;
    color: var(--white--);
}
#quiz .container-fluid .row .col-md-6 .content .quiz_flex .score{
    font-size: 1rem;
    font-weight: 500;
    color: var(--white--);
}
#quiz .container-fluid .row .col-md-6 .content h2{
    font-size: 2rem;
    font-weight: 600;
    color: var(--white--);
    margin: 1rem 0;
}
#quiz .container-fluid .row .col-md-6 .content .option_list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
#quiz .container-fluid .row .col-md-6 .content .option_list .option{
    border: .1rem solid rgba(255,255,255,.4);
    padding: .4rem;
    color: var(--white--);
    font-size: 1rem;
    border-radius: .6rem;
    cursor: pointer;
    transition: all .3s ease;
}
#quiz .container-fluid .row .col-md-6 .content .option_list .option.correct{
    background: #09001d;
    color: #00a63d;
    border-color: #00a63d;
}
#quiz .container-fluid .row .col-md-6 .content .option_list .option.disabled{
    pointer-events: none;
}
#quiz .container-fluid .row .col-md-6 .content .option_list .option.wrong{
    background: #09001d;
    color: #a60045;
    border-color: #a60045;
}
#quiz .container-fluid .row .col-md-6 .content .option_list .option:hover{
    background: rgba(255,255,255,.1);
}
#quiz .container-fluid .row .col-md-6 .content .fotter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: .1rem solid var(--main--color);
    padding: .8rem 0;
}
#quiz .container-fluid .row .col-md-6 .content .fotter .fotter_text{
    font-size: 1rem;
    font-weight: 500;
    color: var(--white--);
}
#quiz .container-fluid .row .col-md-6 .content .fotter .button button{
    font-size: 1rem;
    font-weight: 600;
    color: var(--white--);
    background: #09001d;
    border: .1rem solid rgba(255,255,255,.4);
    padding: .3rem 1.4rem;
    text-transform: capitalize;
    border-radius: .4rem;
    pointer-events: none;
}
#quiz .container-fluid .row .col-md-6 .content .fotter .button button.active{
    pointer-events: auto;
    background: var(--main--color);
}

/* -----reult box ------- */
#quiz .container-fluid .row  .col-md-3 {
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    display: none;
}
#quiz .container-fluid .row  .col-md-3 .card{
    background: #09001d;
    border: .2rem solid var(--main--color);
    padding: 2rem 1rem;
    display: grid;
    place-items: center;
}
#quiz .container-fluid .row  .col-md-3 .card h4{
    font-size: 2rem;
    font-weight: 600;
    color: var(--white--);
}

#quiz .container-fluid .row  .col-md-3.active{
    opacity: 1;
    pointer-events: auto;
    display: block;
}
#quiz .container-fluid .row  .col-md-3 .card .percantage_container{
    width: 200px;
    height: 200px;
    background: conic-gradient(#c40094 3.6deg, rgba(255,255,255,.1) 0deg);
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
#quiz .container-fluid .row  .col-md-3 .card .percantage_container::before{
    content: '';
    position: absolute;
    width: 160px;
    height: 160px;
    background: #09001d;
    border-radius: 50%;
    z-index: -1;
}
#quiz .container-fluid .row  .col-md-3 .card .percantage_container .percantage_value{
    color: var(--white--);
    font-size: 1.5rem;
    font-weight: 600;
}
#quiz .container-fluid .row  .col-md-3 .card .reult_score{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white--);
    margin: .5rem 0;
}
#quiz .container-fluid .row  .col-md-3 .card .button_result{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#quiz .container-fluid .row  .col-md-3 .card .button_result{
    margin-top: 1rem;
}
#quiz .container-fluid .row  .col-md-3 .card .button_result .result-btn{
    font-size: 1rem;
    font-weight: 600;
    color: var(--white--);
    padding: .2rem .8rem;
    background: var(--main--color);
    gap: .8rem;
    border: .2rem solid var(--main--color);

}
#quiz .container-fluid .row  .col-md-3 .card .button_result .result-btn:nth-child(2){
    border: .2rem solid var(--main--color);
    background: transparent;
    color: var(--main--color);
}